@charset "utf-8";

html,body{
  /* 高さを画面に合わせる*/
  height: 100vh;
  /* 文字の大きさを100%とする */
  font-size: 100%;
}

div{
  /* 左の余白を10% */
  margin-left: 10%;
  /* 右の余白を10% */
  margin-right: 10%;
  /* 高さは100% */
  height: 100%;
  /* フレックスボックスを使用 */
  display: flex;
  /* 上下中央配置 */
  align-items: center;
  /* 均等間隔に配置 */
  justify-content:space-evenly;
}

.button{
  /* カラーは青色 */
  background-color: blue;
  /* 枠線を消去 */
  border: none;
  /* 幅は25% */
  width: 25%;
  /* 高さは20% */
  height: 20%;
  /* 文字の大きさは1.2rem */
  font-size: 1.2rem;
  /* カーソルを変更 */
  cursor: pointer;
}

.active {
  /* カラーは赤色 */
  background-color: red;
}